@import "./variables";
@import "./fonts";
@import "./header";

html,
body {
  height: 100vh;
  margin: 0;
  // position: relative;
   display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: #eeeeee;
  margin: 0;
}


@media only screen and (min-width: 1024px) {
  .header .notificationPopup{
    right:120px;
  }
  .header .announcementstPopup{
  right: 72px;

  }
}
@media only screen and (max-width: 1023px) {
  .navbar .activeItem {
    display: none;
  }
  .navbar .inActiveItem {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .navbar .accountImgOutside{
    padding-right: 14.5px;
  }
 .header{
  border-bottom: 2px solid #31B9E4;
 }
 .menuImg{
  @include justifyContentCenter();
    
    // padding: 10px;
    padding-left: 14.5px;
    // width: 35px;
    padding-right: 24px;

    // width;
    z-index: 1;
    height: 70px;
  }

  // .navbarForSmallScreen .courseCatalog {
  //   display: none;
  // }
}




.main-content-border {
  // width: 100%;
  // height: 66vh;

  position: relative;
  margin-top: 56px;
  padding: 24px;
  box-sizing: border-box;  

}
.courses-classes {
  height: 64px;
  background-color: #8ddc97;
  width: 100%;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;

  text-align: center;
}
.courses {
  @include justifyContentCenter();

  gap: 8px;
  border-bottom: 4px solid black;
  height: 100%;
  box-sizing: border-box;
}

.classes {
 @include justifyContentCenter();

  gap: 8px;
}
.sort {
  margin-top: 24px;
  height: 28px;
  /* background-color: #8ddc97; */
  width: 100%;
  @include justifyContentBetween();
  border-bottom: $bottomBorder;
}
.sort1 {
  font-size: $smallFontSize;
  color: #686868;
  align-self: center;
}
.sort2 {
  display: flex;
  align-items: flex-start;
}
.sort2 > span {
  font-size: $smallFontSize;
  color: #686868;
  margin-right: 6px;
  padding-top: 2px;
}
.sortSelect {
  display: flex;
  width: 194px;
  margin-right: 24px;
}
select {
  display: block;
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: $bottomBorder;

  outline: none;
  background: none;
  font-size: 16px;
  /* text-align: left; */
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #222222;
  padding-left: 0%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* padding-right: ; */
  background: url("../images/arrow-down.svg") 100% 50% no-repeat;
}
.sortimage {
  width: $smallFontSize;
  height: 24px;
}
.card-container {
  margin-top: 16px;
  width: 100%;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 476px);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, 571px);
  }
}
.card {
  padding: 24px 24px 9px 24px;
  position: relative;
  background-color: #ffffff;
}
.expire {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  font-weight: 500;
  background-color: #ffe4e6;
  padding: 4px 7px;
  color: #d80000;
}
.cardcontent {
  display: flex;
}
.cardImg {
  width: 132px;
  height: 157px;
  margin-right: 16px;
}
.cardTextContent {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  width: 100%;
}

.cardTitle {
  @include justifyContentBetween();
  align-items: flex-start;
}
.favouriteImg {
  /* margin-left: auto; */
  margin-top: -2px;
  width: 20px;
  height: 24px;
}

.grade,
.ULT {
  font-size: $smallFontSize;
  color: #666666;
  align-self: flex-start;
  margin-top: 7px;
}
.ULT > span > b{
  color:#222222;
}
.selectClass {
  width: 100%;
  margin-top: 18px;
}
.cardDates {
  color: #666666;
  font-size: $smallFontSize;
  margin-top: 8px;
  align-self: flex-start;
}
.cardIcons {
  margin-top: 16px;
  border-top: $bottomBorder;
}
.cardIconsMargin {
  /* width: 100%; */
  @include justifyContentBetween();
  height: 40px;
  
  margin-left: 24px;
  margin-right: 24px;
  align-items: flex-end;
}
.previewimg {
  width: 22px;
  height: 24px;
}
.gardeImg {
  width: 18px;
  height: 20px;
}
.report {
  width: 24px;
  height: 24px;
}
.footer {
  height: 40px;
  background-color: #e0e1e1;
  
@include justifyContentCenter();

  font-size: 14px;
  color: #333;
}
.footerlogo {
  margin-right: 16px;
}
.verticalBar {
  margin-right: 16px;
}

.companyName {
  font-weight: 700;
  margin-right: 11px;
  margin-left: 11px;
}
.footerMain {
  
  margin-top: 33px;
} 
.aboutContact {
  /* position: absolute; */
  /* width: 100%; */
  /* bottom: 56px; */
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  color: #1f7a54;
}
.disabledIcons {
  opacity: 0.4;
}
.title {
  width: 90%;
  font-size: 16px;
  text-align: left;
}
.green {
  color: #1f7a54;
}
.noClass {
  color: #222222;
  opacity: 0.4;
}
