@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #25313f;
  color: white;
  height: 58px;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/header pattern svg.svg");
  opacity: 0.3;
  z-index: 0;
}

.header > * {
  position: relative;
  z-index: 1;
}

.headerLogo {
  width: 134px;
  height: 36px;
  margin-left: 28.88px;
  margin-top: 10.05px;
}

.hamburger-menu {
  display: none;
}

.notificationPopup {
  display: none;
  width: 315px;
  height: 582px;
  position: absolute;
  top: 60px;
  border-top: transparent;
  right: 188px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.announcementstPopup {
  display: none;
  width: 315px;
  height: 582px;
  position: absolute;
  top: 60px;
  border-top: transparent;
  padding-top: 4px;
  right: 136px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.announcementstPopupInner {
  height: 534px;
  overflow-y: scroll;
}

.notificationPopupInner {
  height: 534px;
  overflow-y: scroll;
}

.announcementItemCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
  position: relative;
}
.announcementItemCard .announcementHeader {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.announcementItemCard .announcementHeader .Pa {
  color: #6E6E6E;
}
.announcementItemCard .announcementTitle {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.announcementItemCard .announcementCourse {
  font-size: 12px;
  color: #6E6E6E;
}
.announcementItemCard .announcementfiles {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #6E6E6E;
}

.showAllNotification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: grid;
  width: 100%;
  bottom: 0;
  color: #1F7A54;
  font-size: 14px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  height: 48px;
}

.showAll {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  height: 48px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  width: 100%;
  bottom: 0;
  color: #1F7A54;
  font-size: 14px;
  margin-bottom: 0;
  background-color: #FFFFFF;
}
.showAll .showAllText {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showAll .verticalBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding-top: 9px;
  height: 22px;
}

.navbarForSmallScreen {
  width: 280px;
  max-height: 0px;
  position: absolute;
  top: 60px;
  overflow: hidden;
  margin-right: 16px;
  right: 0;
  color: black;
  background-color: white;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.smallNavitem {
  color: #1F7A54;
  font-size: 14px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.submenu {
  display: none;
  color: #1F7A54;
  font-size: 14px;
  padding: 15px;
  padding-left: 32px;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.activeItem {
  padding-bottom: 19px;
  padding-top: 19px;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 4px solid white;
}

.inActiveItem {
  padding-bottom: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-left: 16px;
  color: #3fd28b;
}

.alert-wrapper {
  position: relative;
  width: 28px;
  height: 33px;
}

.outsideAnnouncement {
  padding-left: 11.5px;
  padding-right: 10.5px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outsideAlert {
  padding-left: 16px;
  padding-right: 11.5px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-bell {
  background-image: url("../images/alerts.svg"); /* your bell icon path */
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 21px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -2px;
}

.alert-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2a7ff3;
  color: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountImgOutside {
  padding-left: 10.5px;
  padding-right: 21px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-wrapper {
  position: relative;
  width: 31px;
  height: 31px;
}

.account-bell {
  background-image: url("../images/account_circle.svg"); /* your bell icon path */
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 32px;
  height: 32px;
  position: absolute;
  top: 6px;
  left: -2px;
}

.account-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: #222222;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-wrapper {
  position: relative;
  width: 31px;
  height: 31px;
}

.announcement-bell {
  background-image: url("../images/announcements.svg"); /* your bell icon path */
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 21px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: -2px;
}

.announcement-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2a7ff3;
  color: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: #eeeeee;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .header .notificationPopup {
    right: 120px;
  }
  .header .announcementstPopup {
    right: 72px;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar .activeItem {
    display: none;
  }
  .navbar .inActiveItem {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .navbar .accountImgOutside {
    padding-right: 14.5px;
  }
  .header {
    border-bottom: 2px solid #31B9E4;
  }
  .menuImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14.5px;
    padding-right: 24px;
    z-index: 1;
    height: 70px;
  }
}
.main-content-border {
  position: relative;
  margin-top: 56px;
  padding: 24px;
  box-sizing: border-box;
}

.courses-classes {
  height: 64px;
  background-color: #8ddc97;
  width: 100%;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 4px solid black;
  height: 100%;
  box-sizing: border-box;
}

.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sort {
  margin-top: 24px;
  height: 28px;
  /* background-color: #8ddc97; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sort1 {
  font-size: 12px;
  color: #686868;
  align-self: center;
}

.sort2 {
  display: flex;
  align-items: flex-start;
}

.sort2 > span {
  font-size: 12px;
  color: #686868;
  margin-right: 6px;
  padding-top: 2px;
}

.sortSelect {
  display: flex;
  width: 194px;
  margin-right: 24px;
}

select {
  display: block;
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  background: none;
  font-size: 16px;
  /* text-align: left; */
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #222222;
  padding-left: 0%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* padding-right: ; */
  background: url("../images/arrow-down.svg") 100% 50% no-repeat;
}

.sortimage {
  width: 12px;
  height: 24px;
}

.card-container {
  margin-top: 16px;
  width: 100%;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 476px);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, 571px);
  }
}
.card {
  padding: 24px 24px 9px 24px;
  position: relative;
  background-color: #ffffff;
}

.expire {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  font-weight: 500;
  background-color: #ffe4e6;
  padding: 4px 7px;
  color: #d80000;
}

.cardcontent {
  display: flex;
}

.cardImg {
  width: 132px;
  height: 157px;
  margin-right: 16px;
}

.cardTextContent {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  width: 100%;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.favouriteImg {
  /* margin-left: auto; */
  margin-top: -2px;
  width: 20px;
  height: 24px;
}

.grade,
.ULT {
  font-size: 12px;
  color: #666666;
  align-self: flex-start;
  margin-top: 7px;
}

.ULT > span > b {
  color: #222222;
}

.selectClass {
  width: 100%;
  margin-top: 18px;
}

.cardDates {
  color: #666666;
  font-size: 12px;
  margin-top: 8px;
  align-self: flex-start;
}

.cardIcons {
  margin-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.cardIconsMargin {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-left: 24px;
  margin-right: 24px;
  align-items: flex-end;
}

.previewimg {
  width: 22px;
  height: 24px;
}

.gardeImg {
  width: 18px;
  height: 20px;
}

.report {
  width: 24px;
  height: 24px;
}

.footer {
  height: 40px;
  background-color: #e0e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.footerlogo {
  margin-right: 16px;
}

.verticalBar {
  margin-right: 16px;
}

.companyName {
  font-weight: 700;
  margin-right: 11px;
  margin-left: 11px;
}

.footerMain {
  margin-top: 33px;
}

.aboutContact {
  /* position: absolute; */
  /* width: 100%; */
  /* bottom: 56px; */
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  color: #1f7a54;
}

.disabledIcons {
  opacity: 0.4;
}

.title {
  width: 90%;
  font-size: 16px;
  text-align: left;
}

.green {
  color: #1f7a54;
}

.noClass {
  color: #222222;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */