body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f8fa;
}

.tweet-card {
  display: flex;
  background-color: white;
  /* border-radius: 12px; */
  padding: 5px;
  width: 350px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.tweet-content {
  margin-top: 10px;
  flex: 1;
}

.tweet-content p {
  margin: 5px 0;
}

.tweet-stats {
  display: flex;
  margin-top: 10px;
  color: #555;
  font-size: 12px;
  margin-left: 5px;
}
.tweet-stats span {
  display: flex;
  align-items: center;
  margin-right: 18px;
  color: #8a8e92;
  font-weight: 550;
}
.tweet-stats i {
  font-size: 16px;
  color: #8a8e92;
  margin-right: 10px;
}
