body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f8fa;

  /* Centering setup */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
}

.tweet-card {
  display: flex;
  background-color: white;

  /* border-radius: 12px; */
  /* padding: 4px; */
  width: 457px;
  height: 138px;
}

.profile-pic {
  width: 130px;
  margin: 4px;
  height: 130px;
  margin-right: 14px;
}

.tweet-content {
  /* margin-top: 8 px; */
  flex: 1;
}
.username {
  font-size: 20px;
}
.user {
  margin-bottom: 0px;
}
.comment {
  margin-top: 14px;
  font-size: 20px;
  margin-bottom: 0px;
}

.tweet-stats {
  display: flex;
  margin-top: 24px;
  color: #555;
  font-size: 12px;
  /* margin-left: 5px; */
}
.tweet-stats span {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: #858991;
  font-weight: 500;
  font-size: 15px;
}
.tweet-stats i {
  font-size: 20px;
  color: #8a8e92;
  margin-right: 14px;
}
.tweetIcon {
  margin-right: 14px;
}
